<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderInfo">
  <update id="updateState" parameterType="_int">
  	update order_info set o_status='배달중' where o_no=#{orderNo}
  </update>
  
  <update id="updateStateComplete" parameterType="_int">
  	update order_info set o_status='배달완료' where o_no=#{orderNo}
  </update>
  
  <select id="selectOrderInfoAddress" parameterType="_int" resultType="string">
  	select o_addr from order_info where o_no=#{orderNo}
  </select>
</mapper>
