@charset "UTF-8";

*{
	   /*   border : 1px solid red; */     
}
.foodimg{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
}

.topnav {
    overflow: hidden;
    background-color: rgb(253, 68, 68);
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.topnav a:hover {
    background-color: rgb(161, 247, 122);
    color: black;
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* index css */

form{
	margin : 0;
}

hr{
	margin-bottom: 0;
}

.index-search-title{
	display : flex;
	flex-direction :column;
	justify-content: center;
 	align-items: center;
 	font-weight: bold;
 	font-family: 'Black Han Sans';
 	margin-top: 100px;
 	background-size:contain;
 	padding: 20px 0 20px 0;

}

.index-search-title>h2{
	font-size: 50px;
}

.index-search-title>h6{
	font-size: 30px;
}

.index-first-box{
	height: 1150px;
}

/* .index-search-container{
 	margin : 30px;
 	display : flex;
 	flex-direction: column;
 } */
 
.index-search{
	display : flex;
	justify-content: center;
 	align-items: center;
}


#form{
	align-items: center;
}

.keyword-box{
	height: 38px;
	display : flex;
	justify-content: center;
 	align-items: center;
 	border-radius: 5px;
 	border-top : 2px solid rgb(253, 68, 68);
 	border-left : 2px solid rgb(253, 68, 68);
 	border-bottom : 2px solid rgb(253, 68, 68);
 	background-color: white;
}

.search-btn{
	margin-right: 5px;
}

.location-button{
	border-radius: 10px;
	border-style: none;
	background-color: white;
	font-weight : bold;
	color: #FF0000;
}

#keyword{
	margin-left : 2px;
	padding-left: 3px;
	border-style: none;
}


.search-xy{
	margin-left: 5px;
}


.index-search-autosearch{
	display : flex;
	justify-content: center;
 	align-items: center;
}

.search-autosearch{
	margin : 10px;
}

.search-autosearch>div:hover{
	background-color: lightgray;
}

#list{
	visibility : hidden;
	margin-top : 5px;
	height : 200px;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid rgb(253, 68, 68);
	padding : 12px;
	overflow-y: scroll;
	z-index: -1;
	background-color: white;
}

 .index-category-list{
	display: flex;
	justify-content : center;
	align-items: center;
	position: relative;
	bottom : 200px;
	z-index: 1;
}
 
 .index-category-img{
 	border-left : 1px solid #FFA7A7;
 	border-right : 1px solid #FFA7A7; 
 	border-top-left-radius : 20px;
 	border-top-right-radius : 20px;
 	background-color : rgb(253, 68, 68);
 	color : white;
 	margin : 19px;
 	width : 250px;
 	height : 250px;
 	cursor: pointer;
 }
 
 .index-category-img>img{
 	border-bottom: 1px solid #FFA7A7; 
 }
 
.index-category-title{
	text-align: center;
	font-family: 'Black Han Sans';
	font-size: 25px;
	height: 40px;
	border-bottom: 1px solid #FFA7A7; 
}

 
   /* banner 사이즈 */
  .carousel-inner img {
      width: 100%;
      height: 300px;
     
  }
  .carousel{
  	  width: 100%;
  	  height:300px;
  }
  
  /*  스크롤바 */

#list::-webkit-scrollbar { width: 10px; }
/* 스크롤바의 width */
#list::-webkit-scrollbar-track { background-color: white; }
/* 스크롤바의 전체 배경색 */
#list::-webkit-scrollbar-thumb { 
    background: linear-gradient(to bottom, #FF0000, #FF9090); 
}
/* 스크롤바 색 */
#list::-webkit-scrollbar-button { display: none; }
  

