<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMenuDetail">
	<select id="selectStoreDetailInfo" parameterType="_int" resultType="storeDetail">
		SELECT S.*,(SELECT b_businesscode FROM business B WHERE B.B_NO = S.B_NO) B_BUSINESSCODE, 
        	TRUNC((S_TASTE+S_AMOUNT+S_DELIVERY)/(DECODE((S_REVIEWCOUNT),0,-1,S_REVIEWCOUNT)*3),1) S_STAR,
        	TRUNC(S_TASTE/(DECODE((S_REVIEWCOUNT),0,-1,S_REVIEWCOUNT)),1) S_TASTE_TRU,
        	TRUNC(S_AMOUNT/(DECODE((S_REVIEWCOUNT),0,-1,S_REVIEWCOUNT)),1)  S_AMOUNT_TRU,
        	TRUNC(S_DELIVERY/(DECODE((S_REVIEWCOUNT),0,-1,S_REVIEWCOUNT)),1) S_DELIVERY_TRU
		FROM STORE S WHERE S_NO=#{no}
	</select>
	<select id="selectStoreDetailCategory" parameterType="_int" resultType="storeDetailCategory">
		SELECT * FROM MENU_CATEGORY WHERE S_NO=#{no}
	</select>
	<select id="selectStoreDetailBestMenu" parameterType="_int" resultType="storeDetailMenu">
		SELECT * FROM MENU WHERE S_NO=#{no} AND ME_BEST='Y'
	</select>
	<select id="selectCategoryMenu" parameterType="_int" resultType="storeDetailMenu">
		SELECT * FROM MENU WHERE MT_NO=#{no}
	</select>
	<select id="selectMenuDetail" parameterType="_int" resultType="storeDetailMenu">
		SELECT M.*, (SELECT COUNT(*) FROM MENU_SIDE WHERE ME_NO=#{no}) AS SIDE_COUNT FROM MENU M WHERE ME_NO=#{no}
	</select>
	<select id="selectMenuDetailSide" parameterType="_int" resultType="storeMenuSide">
		SELECT * FROM SIDE WHERE SD_NO IN(SELECT SD_NO FROM MENU_SIDE WHERE ME_NO=#{no})
	</select>
	<select id="selectStoreReview" parameterType="map" resultType="storeDetailReview">
		SELECT R.*,
			TRUNC(((R.R_SCORE_TASTE+R.R_SCORE_AMOUNT+R.R_SCORE_DELIVERY)/3),1) AS R_SCORE,
			(SELECT M_NICKNAME FROM MEMBER WHERE M_NO=R.M_NO) AS M_NICKNAME
		FROM REVIEW R
		WHERE R.S_NO=#{no} AND R.R_STATUS='Y'
		<choose>
			<when test="type=='photo'">AND R.R_NO IN(SELECT R_NO FROM REVIEW_IMG)</when>
			<when test="type=='report'">AND R.R_NO = #{r_no}</when>
		</choose>
		ORDER BY R.R_DATE DESC
	</select>
	<select id="selectStoreDetailReviewMenu" parameterType="_int" resultType="storeDetailReviewMenu">
		SELECT O.SD_ARRAY,(SELECT ME_NAME FROM MENU WHERE ME_NO=O.ME_NO) AS ME_NAME FROM ORDER_MENU O WHERE O_NO=#{o_no}
	</select>
	<select id="selectStoreReviewImg" parameterType="_int" resultType="string">
		SELECT R_IMG FROM REVIEW_IMG WHERE R_NO=#{r_no}
	</select>
	<select id="selectStoreReviewCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE S_NO=#{no} AND R_STATUS='Y'
		<if test="type=='photo'">
			AND R_NO IN(SELECT R_NO FROM REVIEW_IMG)
		</if>
	</select>
	<insert id="insertReport" parameterType="report">
		<selectKey resultType="_int" keyProperty="m_receiver" order="BEFORE">
			SELECT M_NO FROM REVIEW WHERE R_NO=#{r_no}
		</selectKey>
		INSERT INTO REPORT VALUES(REPORT_SEQ.NEXTVAL,#{re_content},#{m_send},#{m_receiver},#{r_no},DEFAULT)
	</insert>
	<select id="selectBookMarkCheck" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM PREFER WHERE M_NO=#{m_no} AND S_NO=#{s_no}
	</select>
	<insert id="insertBookMark" parameterType="map">
		INSERT INTO PREFER VALUES(#{m_no},#{s_no})
	</insert>
	<delete id="deleteBookMark" parameterType="map">
		DELETE PREFER WHERE M_NO=#{m_no} AND S_NO=#{s_no}
	</delete>
	<select id="selectStoreDetailImgs" parameterType="_int" resultType="string">
		SELECT S_IMG FROM STORE_IMG WHERE S_NO=#{no}
	</select>
</mapper>
