<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
   <!-- 일반 아이디 회원가입 -->
  <insert id="insertMember" parameterType="member">
  	INSERT INTO MEMBER VALUES(member_seq.nextval,#{m_Id},#{m_Pw},'N',#{m_Nickname},SYSDATE,0,#{m_Level},#{m_Phone},#{m_Name},#{m_Email})
  </insert>
  <!-- 사업자 아이디 회원가입 -->
  <insert id="insertBusiness" parameterType="business">
  	INSERT INTO BUSINESS VALUES(business_seq.nextval,#{b_Name},#{b_Id},#{b_Pw},#{b_BusinessCode},DEFAULT,#{b_Email},default)
  </insert>
<!--   <select id="selectMemberPay" parameterType="_int" resultType="memberSH">
  	SELECT * FROM MEMBER WHERE M_NO = #{m_no}
  </select> -->
  <!-- 일반 아이디 로그인 -->
  <select id="selectMember" parameterType="string" resultType="member">
  	SELECT * FROM MEMBER WHERE M_ID = #{userId}
  </select>
  <!-- 일반 아이디 닉네임 중복 체크 -->
  <select id="selectMemberName" parameterType="string" resultType="member">
  	SELECT * FROM MEMBER WHERE M_NICKNAME = #{name}
  </select>
  <!-- 사업자 아이디 로그인 -->
  <select id="selectBusiness" parameterType="string" resultType="business">
  	SELECT * FROM BUSINESS WHERE B_ID=#{userId}
  </select>
  <!-- 일반인 아이디 찾기 -->
  <select id="selectMemberId" parameterType="string" resultType="member">
  	SELECT M_ID FROM MEMBER WHERE M_EMAIL = #{m_email}
  </select>
  <!-- 사업자 아이디 찾기 -->
  <select id="selectBusinessId" parameterType="string" resultType="business">
  	SELECT B_ID FROM BUSINESS WHERE B_EMAIL = #{b_email}
  </select>
  <!-- 일반인 비밀번호 변경 -->
  <update id="updateMemberPw" parameterType="member">
  	UPDATE MEMBER SET M_PW = #{m_Pw} WHERE M_ID = #{m_Id}
  </update>
  <!-- 사업자 비밀번호 변경 -->
  <update id="updateBusinessPw" parameterType="business">
  	UPDATE BUSINESS SET B_PW = #{b_Pw} WHERE B_ID = #{b_Id}
  </update>
  
  

  
  <select id="selectCoupon" resultType="CouponSH">
  	SELECT*FROM COUPON
  </select>
  <select id="selectCouponCount" parameterType="_int" resultType="_int">
  	SELECT COUNT(*)FROM COUPON WHERE M_NO=#{m_No}
  </select>
</mapper>
