<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>


	<typeAliases>	
		<typeAlias type="com.kh.fp.model.vo.Member" alias="member"/>

		<typeAlias type="com.kh.fp.model.vo.MenuList" alias="menuList"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreDetailInfo" alias="storeDetail"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreCategory" alias="storeDetailCategory"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreMenu" alias="storeDetailMenu"/>

	</typeAliases>
</configuration>

