<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >


<configuration>
	<typeAliases>	
		<typeAlias type="com.kh.fp.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.fp.model.vo.Business" alias="business"/>


		<!-- <typeAlias type="com.kh.fp.model.vo.MenuList" alias="menuList"/> -->
		<typeAlias type="com.kh.fp.model.vo.Store" alias="menuList"/>
		<typeAlias type="com.kh.fp.model.vo.Review" alias="review"/>
		<typeAlias type="com.kh.fp.model.vo.Member_SH" alias="memberSH"/>
		<typeAlias type="com.kh.fp.model.vo.Coupon_SH" alias="CouponSH"/>
		<typeAlias type="com.kh.fp.model.vo.StoreDetailInfo" alias="storeDetail"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreCategory" alias="storeDetailCategory"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreMenu" alias="storeDetailMenu"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreMenuSide" alias="storeMenuSide"/>
		<typeAlias type="com.kh.fp.model.vo.StoreEnroll" alias="storeEnroll"/>	
		<typeAlias type="com.kh.fp.common.StringArrayType" alias="strArr"/>
		<typeAlias type="com.kh.fp.model.vo.Sales" alias="sales"/>
		
		<typeAlias type="com.kh.fp.model.vo.StoreDetailReview" alias="storeDetailReview"/>
		<typeAlias type="com.kh.fp.model.vo.Report" alias="report"/>
		<typeAlias type="com.kh.fp.model.vo.MenuDetailReviewMenu" alias="storeDetailReviewMenu"/>
		
		<typeAlias type="com.kh.fp.model.vo.AdminApplyStore" alias="applyStore"/>
		<typeAlias type="com.kh.fp.model.vo.AdminApplyStoreInfo" alias="applyStoreInfo"/>
		
		<typeAlias type="com.kh.fp.model.vo.Delivery" alias="delivery"/>
	</typeAliases>
</configuration>

