<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EM" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<select id="totalCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM ORDER_INFO WHERE M_NO=#{m_no}
	</select>
	
	<select id="selectOrder" parameterType="_int" resultType="map">
		SELECT A.*, B.S_LOGIMG, B.S_NAME FROM ORDER_INFO A JOIN STORE B ON A.S_NO = B.S_NO WHERE A.M_NO=#{m_no} ORDER BY O_DATE DESC
	</select>
	
	<select id="selectOrderMenu" parameterType="_int" resultType="map">
		SELECT M.ME_NAME, M.ME_LOGIMG, OM.SD_ARRAY FROM ORDER_MENU OM JOIN MENU M ON OM.ME_NO = M.ME_NO WHERE OM.O_NO=#{o_no}
	</select>
	
	<insert id="insertReview" parameterType="map">
		INSERT INTO REVIEW VALUES(REVIEW_SEQ.NEXTVAL, #{reviewCon} , #{taste}, #{amount}, #{delivery}, DEFAULT, #{m_no}, #{s_no}, #{o_no})
		
		<selectKey resultType="_int" keyProperty="no" order="AFTER">
			SELECT REVIEW_SEQ.CURRVAL FROM DUAL
		</selectKey>
		
	</insert>
	
	<insert id="insertReviewImg" parameterType="map">
		INSERT INTO REVIEW_IMG VALUES(#{r_no}, #{r_img})
	</insert>
	
	<select id="selectReviewCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE M_NO=#{m_no}
	</select>
	
	<select id="selectReview" parameterType="_int" resultType="map">
		SELECT RE.*, STO.S_NAME AS S_NAME FROM REVIEW RE JOIN STORE STO ON RE.S_NO=STO.S_NO WHERE M_NO=#{m_no}
	</select>
	
	<select id="selectReviewImg" parameterType="map" resultType="string">
		SELECT R_IMG FROM REVIEW_IMG WHERE R_NO = #{r_no}
	</select>
	
	<select id="selectPrefer" parameterType="_int" resultType="map">
		SELECT STO.S_NO, STO.S_NAME, STO.S_LOGIMG,(SELECT TRUNC(AVG((R_SCORE_TASTE+R_SCORE_AMOUNT+R_SCORE_DELIVERY)/3),2) FROM REVIEW WHERE S_NO=1) AS S_SCORE, (SELECT COUNT(*) FROM REVIEW WHERE S_NO=#{m_no}) AS S_REVIEWCOUNT, STO.S_TEXT FROM PREFER PRE JOIN STORE STO ON PRE.S_NO=STO.S_NO WHERE PRE.M_NO=#{m_no}
	</select>
	
	<delete id="delectWatchList" parameterType="map">
		DELETE FROM PREFER WHERE M_NO=#{m_no} AND S_NO=#{s_no}
	</delete>
	
	<select id="selectCoupon" parameterType="_int" resultType="map">
		SELECT * FROM COUPON WHERE M_NO=#{m_no} AND CN_EXPIRE>SYSDATE
	</select>
	
	<update id="memberUpdate" parameterType="map">
		UPDATE MEMBER SET M_PW = #{m_pw}, M_EMAIL = #{m_email}, M_PHONE = #{m_phone}, M_NICKNAME = #{m_nickname} WHERE M_NO=#{m_no}
	</update>
	
	<select id="memberSelect" parameterType="_int" resultType="member">
	 	SELECT * FROM MEMBER WHERE M_NO = #{m_no}
	 </select>
	 
	<delete id="memberDelete" parameterType="_int">
		DELETE FROM MEMBER WHERE M_NO = #{m_no}
	</delete>
	
</mapper>


