<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EM" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<select id="totalCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM ORDER_INFO WHERE O_NAME=#{userId}
	</select>
	
	<select id="selectOrder" parameterType="string" resultType="map">
		SELECT A.*, B.S_LOGIMG, B.S_NAME FROM ORDER_INFO A JOIN STORE B ON A.S_NO = B.S_NO WHERE A.O_NAME=#{userId} ORDER BY O_DATE DESC
	</select>
	
	<select id="selectOrderMenu" parameterType="_int" resultType="map">
		SELECT M.ME_NAME, M.ME_LOGIMG, OM.SD_ARRAY FROM ORDER_MENU OM JOIN MENU M ON OM.ME_NO = M.ME_NO WHERE OM.O_NO=#{o_no}
	</select>
	
</mapper>
