<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="licensee">

	<select id="getOrderInfo" parameterType="_int" resultType="map">
		select * from order_info where s_no=#{no}
	</select>
  	
  	<select id="getOrderInfoAll" parameterType="_int" resultType="_int">
  		select count(*) from order_info where s_no=#{no}
  	</select>
  	
  	<select id="getDetailOrder" parameterType="_int" resultType="map" >
		select O_STATUS,O_DATE,ME_NAME,me_price,O_ADDR,sd_array,O_ORIPRICE from ORDER_INFO JOIN order_menu USING(O_NO) JOIN MENU USING(ME_NO) WHERE O_NO = #{no}
  	</select>
  	
  	 <insert id="insertSide" parameterType="map">
  		INSERT INTO SIDE VALUES(SEQ_SIDE_NO.NEXTVAL,#{sd_name},#{sd_price},#{s_no},#{sd_division})
  	</insert> 
  	
  	<insert id="insertCategory" parameterType="map">
  		INSERT INTO MENU_CATEGORY VALUES(CATEGORY_SEQ.NEXTVAL,#{mt_name},#{s_no})
  	</insert>
  	
  	<insert id="insertMenu" parameterType="com.kh.fp.model.vo.Menu">
  		INSERT INTO MENU VALUES(SEQ_MENU_NO.NEXTVAL,#{me_name},#{me_price},#{me_logImg},#{mt_no},#{me_text},#{me_best},#{s_no})		
  	</insert>
  	
  	<select id="selectMenu" resultType="_int">
  		SELECT SEQ_MENU_NO.CURRVAL FROM DUAL
  	</select>
  	<insert id="insertMenuSide" parameterType="com.kh.fp.model.vo.MenuSide">
  		INSERT INTO MENU_SIDE VALUES(#{me_no},#{sd_no})
  	</insert>  
  	<select id="selectOption" parameterType="_int" resultType="com.kh.fp.model.vo.Side">
  		SELECT * FROM SIDE WHERE S_NO = #{s_no}
  	</select>
  	
  	<select id="selectCategory" parameterType="_int" resultType="com.kh.fp.model.vo.MenuCategory">
  		SELECT * FROM MENU_CATEGORY WHERE S_NO = #{s_no}
  	</select>
  	
  	<select id="selectStoreNo" parameterType="_int" resultType="com.kh.fp.model.vo.Store">
  		SELECT * FROM STORE WHERE B_NO = #{b_no}
  	</select>
  	
  	<select id="selectMenuList" parameterType="_int" resultType="com.kh.fp.model.vo.Menu">
  		SELECT * FROM MENU C JOIN MENU_CATEGORY M USING(MT_NO) WHERE M.S_NO = #{s_no}
  	</select>
  	
  	<select id="selectMenuSide" resultType="com.kh.fp.model.vo.SideAll">
  		SELECT * FROM SIDE JOIN MENU_SIDE USING(SD_NO) WHERE S_NO = #{s_no} AND ME_NO = #{me_no}
  	</select>
  	

  	<select id="storesNo" resultType="_int">
  		select s_no from store where rownum =1 and b_no=#{no}
  	</select>

  	<update id="menuUpdate" parameterType="map">
  		UPDATE MENU SET ME_NAME = #{me_name} , ME_PRICE = #{me_price} , ME_TEXT = #{me_text} WHERE ME_NO = #{me_no} AND MT_NO = #{mt_no} AND S_NO = #{s_no}
  	</update>
  	
  	<delete id="menuSideDelete" parameterType="_int">
  		DELETE FROM MENU_SIDE WHERE ME_NO = #{me_no}
  	</delete>
  	
  	<insert id="menuSideUpdate" parameterType="com.kh.fp.model.vo.MenuSide">
  		INSERT INTO MENU_SIDE VALUES (#{me_no},#{sd_no})
  	</insert>

  	
</mapper>
