<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store">
 	
 	<insert id="insertStore" parameterType="storeEnroll">
 		insert into store values(store_seq.nextval,#{saddr},#{sname},#{slimitprice},#{spayopt},#{stext}
 		,'${phone1}-${phone2}-${phone3}',DEFAULT,DEFAULT,#{sorifoodinfo},#{logimg},#{xl},#{yl},#{stime}
 		,#{bno},#{sholiday,typeHandler=strArr},#{scoupon},TO_TIMESTAMP(#{sstarttime}, 'HH24'),TO_TIMESTAMP(#{sendtime}, 'HH24'),default,default,default,default,default)
 	
 		<selectKey order="AFTER" keyProperty="sno" resultType="_int">
			select store_seq.CURRVAL FROM DUAL
		</selectKey>
 	
 	</insert>

	<insert id="insertStoreCategory" parameterType="map">
		insert into store_category values(#{scategory},#{sno})
	</insert>
	
	<insert id="insertStoreImage" parameterType="map">
		insert into store_img values(#{sno},#{simg})
	</insert>
 	
 	<select id="getStoresDetail" resultType="map">
 		select S_NO,S_ADDR,S_NAME,S_LIMITPRICE,S_PAYOPT,S_TEXT,S_PHONE,
 				S_OPENSTATUS,S_ENROLLSTATUS,S_ORIFOODINFO,S_LOGIMG
 				,S_TIME,B_NO,S_HOLIDAY,S_COUPON,to_char(S_STARTTIME,'HH24:MI:SS') AS S_STARTTIME,
 				 to_char(S_ENDTIME,'HH24:MI:SS') AS S_ENDTIME,S_ENROLLDATE from store where b_no=#{no}
 	</select>
 	
 	<select id="getStoresDetailcategory" resultType="map">
 		select ct_name from category join store_category using(ct_no) where s_no =#{no}
 	</select>
 	
 	<select id="getStoresDetailfiles" resultType="map">
 		select s_img from store_img where s_no =#{no}
 	</select>
 	
 	<select id="getStoresUpdate" resultType="map">
 		select * from store where s_no=#{no}
 	</select>
 	
	<update id="storeUpdate" parameterType="storeEnroll">
		update store set S_NAME=#{sname},S_ADDR=#{saddr},S_PHONE='${phone1}-${phone2}-${phone3}',
		S_LIMITPRICE=#{slimitprice},S_PAYOPT=#{spayopt},S_TEXT=#{stext},S_ORIFOODINFO=#{sorifoodinfo},
		S_TIME=#{stime},S_HOLIDAY=#{sholiday,typeHandler=strArr},S_X=#{xl},S_Y=#{yl},S_COUPON=#{scoupon},
		S_STARTTIME= TO_TIMESTAMP(#{sstarttime}, 'HH24') , S_ENDTIME=TO_TIMESTAMP(#{sendtime}, 'HH24') 
		where s_no=#{sno}
	</update>
	
	<insert id="insertBestCategory">
		insert into menu_category values(category_seq.nextval,'대표메뉴',#{no})
	</insert>
	
	
	<delete id="deleteCategory">
		delete from store_category where s_no =#{sno}
	</delete>
	
	<select id="getStoresInfo" resultType="map" parameterType="_int">
		SELECT S_NO,S_NAME,S_ADDR,ROUND((S_TASTE+S_AMOUNT+S_DELIVERY)/(DECODE(S_REVIEWCOUNT,0,1,S_REVIEWCOUNT)*3),1) AS SCORE,S_REVIEWCOUNT,S_ENROLLDATE,S_ENROLLSTATUS FROM STORE WHERE b_NO=#{no}
	</select>
	
	<select id="getSales" resultType="sales">
		select  * from
			 (select  a.*,rownum as rnum from( select to_date(to_char(o_date,'YY/MM/DD')) as orderdate , sum(o_oriprice) as price
			 from order_info
			 where s_no=#{no} group by to_date(to_char(o_date,'YY/MM/DD')) order by orderdate desc)a)where  rnum between 1
		 and 31 order by orderdate
	</select>
	<!-- select O_DATE as orderdate ,sum(o_oriprice) as price  from order_info where s_no=#{no} and o_date like '%${orderdate}%' group by o_date order by o_date  -->
	<select id="getOrderInfo" resultType="map">
		select * from(select ROWNUM as rnum , a.* from (select * from order_info where s_no=#{no} order by o_date ) a) where rnum between 1 and 5
	</select>
	
	<select id="getSaleMonth" resultType="map">
		select to_char(o_date,'YYYY/MM') as o_date ,sum(o_oriprice) as price from order_info where s_no=#{no} group by to_char(o_date,'YYYY/MM')
	</select>
	
	<select id="orderDetail" resultType="com.kh.fp.model.vo.OrderInfo">
		select * from order_info where o_no=#{no}
	</select>
	
	<select id="orderMenu" resultType="com.kh.fp.model.vo.OrderMenu">
		select me_name,sd_array from order_menu join menu using(me_no) where o_no=#{no}
	</select>
	
</mapper>
